@import 'basico/variables';
@import 'basico/mixins';
@import 'basico/base';

@import 'layouts/header';
@import 'layouts/navbar';
@import 'layouts/footer';

@import 'componentes/botones';
@import 'componentes/cards';
@import 'componentes/multimedia';
