body {
  font-family: $fuente-base;
  color: $color-texto;
  margin: 0;
  padding: 0;
  background-color: $color-secundario;
  scroll-behavior: smooth;
}

h1, h2, h3, h4 {
  font-family: $fuente-titulo;
  margin: 0.5em 0;
}

img, video {
  max-width: 100%;
  border-radius: $border-radius;
  display: block;
}
