nav {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-top: 40px;

  a {
    color: white;
    font-weight: 600;
    text-decoration: none;
    padding: 5px 15px;
    border-radius: 5px;
    @include transicion(background);

    &:hover {
      background: rgba(255,255,255,0.2);
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 15px;
  }
}
