.boton {
  cursor: pointer;
  border: none;
  font-weight: 600;
  border-radius: 30px;
  padding: 12px 25px;
  background: linear-gradient(90deg, $color-principal, $color-acento);
  color: white;
  @include transicion(all);

  &:hover {
    transform: translateY(-3px) scale(1.05);
    opacity: 0.9;
  }
}
